.menuBar {
  font-family: "Lato", sans-serif;
}

.burger {
  padding-left: 0;
}

.flagSlo {
  height: 15vh;
  border-style: solid;
  border-width: thin;
  border-color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  border-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav Link {
    font-size: 18px;
  }
}

/*Link hiding on hover*/

.sidenav .menuLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #585858;
  display: block;
  transition: 0.3s;
}

.sidenav .menuLink:hover {
  color: #f1f1f1;
}

.sidenav .lessonLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #585858;
  display: block;
  transition: 0.3s;
}

.sidenav .lessonLink:hover {
  color: #f1f1f1;
  display: block;
}
