.menuBar {
  position: fixed;
  top: 1px;
  left: 5px;
  font-family: "Lato", sans-serif;
  background-color: #00FFFF;
}

.hamburger {
  position: fixed;
  top: 5px;
  left: 10px;
}

.flagSlo {
  position: fixed;
  top: 1px;
  right: 2px;
  height: 15vh;
  border-style: solid;
  border-width: thin;
  border-color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thin;
  border-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .menuLink {
  padding: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #585858;
  display: block;
  transition: 0.3s;
}

.sidenav .menuLink:hover {
  color: #f1f1f1;
}

.sidenav .lessonLink {
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
  color: #585858;
  display: block;
  transition: 0.3s;
}

.sidenav .lessonLink:hover {
  color: #f1f1f1;
  display: block;
}

.noBullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}